/* Добавление фонового изображения для всей страницы */
body {
    background-image: url('images/back.jpg');  /* Указываем путь к изображению */
    background-size: cover;  /* Фон будет покрывать всю страницу */
    background-position: center center;  /* Центрируем фон */
    background-repeat: no-repeat;  /* Запрещаем повторение изображения */
    margin: 0;  /* Убираем отступы */
    height: 100vh;  /* Фон будет занимать всю высоту страницы */
}

#player {
    text-align: center;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.7);  /* Прозрачный фон плеера */
    padding: 20px;
    border-radius: 10px;  /* Скругление углов */
}

#track-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

#track-info p {
    margin: 5px;
    font-size: 18px;
}

button {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}
